/* body::-webkit-scrollbar{
  display: none;
} */
.text p{
  margin-bottom: 0;
  font-size: 13px;
  letter-spacing: .9px;
  padding: 2px;
}
.text{
  background-color: #121212;
  width: 100%;
  height: 38.5px;
}
.text p{
  font-size: 13px;
}
.text:hover{
  cursor: pointer;
  background-color: rgb(45, 43, 43);
}
.head{
  width: 100%;
  height: 90px;
  background-color: #121212;
  top: -0.1px;
  display: flex;
}
.head-img{
  width: 19%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head-img1{
  width: auto;
  height: 26px;
  cursor: pointer;
}
.card1{
  row-gap: .8rem;
  column-gap: 2.9rem;
  margin-top: 2.3rem;
}
.img{
  width: 26.5vw;
}
.nav-css{
  text-decoration: underline;
  text-decoration-color: white;
  color: black;
}
.nav-css1{
  color: rgb(185, 178, 178);
  text-decoration: none;
}
.nav-css1:hover{
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  cursor: pointer;
}
.nav-list{
  display: flex;
  gap: 30px;
  list-style-type: none;
  margin-bottom: 0;
  font-size: 16.5px;
  padding: 0;
}
.nav-main{
  width: 69%;
  display: flex;
  align-items: center;
}
.shop{
  width: auto;
  height: 45px;
  cursor: pointer;
}
.sign{
  width: auto;
  height: 22px;
  cursor: pointer;
}
.main-sign{
  width: 14%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.person-img{
  width:  29.3015625vw;
}
.button{
  background-color: black;
  color: white;
  border-style: none;
  width: 140px;
  height: 49.5px;
  border: 1px solid black;
  transition: .1s;
}
.button:hover{
  scale: 1.2px;
  margin-right: 100px;
  transform: scale(1.02);
}
.section1-main{
  display: flex;
}
.section1{
  margin-left: 56px;
  margin-top: 70px;
}
.section1-text{
  margin-top: 120px;
  margin-left: 75px;
  margin-bottom: 10px;
  width: 40vw;
}
.section2{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  color: rgb(175, 163, 163);
  font-size: 17px;
  margin-top: 80px;
}
.text3{
  text-decoration: underline;
  margin-top: 25px;
}
.text3:hover{
  color: white;
}
.text2{
  color: white;
}
.ins-img{
  cursor: pointer;
  margin-top: 25px;
}
.texts{
  margin-top: 35px;
  text-align: center;
}
.foot-text{
  font-size: 13px;
  margin-top: 130px;
  color: rgb(175, 163, 163);
}
.foot-text p{
  margin-bottom: 0;
}
.footer{
  background-color: #121212;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;
  padding: 1px;
}
.foot-dis span:hover{
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.menu{
  width: 420px;
  background-color: #121212;
  height: 100%;
  position: fixed;
  display: none;
  flex-direction: column;
}
.menu-text{
  color: white;
  margin-top: 10px;
  text-decoration: none;
  font-size: 20.5px;
  line-height: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}
.menu-text p{
  margin-left: 34px;
  margin-bottom: 0;
}
.menu-text:hover{
  background-color: rgb(45, 43, 43);
  cursor: pointer;
}
.close-main{
  background-color: #121212;
  width: 30px;
  margin-top: -60px;
  margin-left: 15px;
}
@media (max-width:992px) {
  .img{
    width: 40vw;
  }
  .head{
    height: 70px;
  }
  .foot-text{
    width: 80vw;
    margin-top: 90px;
    text-align: center;
    align-items: center;
    line-height: 30px;
  }
}
@media (max-width:750px) {
  .img{
    width: 46vw;
  }
  .menu{
    width: 90vw;
  }
  .card1{
    row-gap: .5rem;
    column-gap: .5rem;
    margin-top: 1.6rem;
  }
  .sign{
    display: none;
  }
  .section1{
    margin-left: 0;
  }
  .person-img{
    width: 92vw;
  }
  .section1-text{
    margin-left: 0;
    margin-top: 6vw;
    width: 90vw;
  }
  .section1-main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .foot-text{
    margin-top: 50px;
    line-height: 30px;
  }
}